/* Globales */
:root {
    --fuente-principal: 'Roboto', sans-serif;
    --colorFondo: #b2e7bd;
    --colorFondoFormulario: #efbc98;
    --colorPrimario: #b41c5e;
    --colorSecundario: #c55e5e;
    --colorBlanco: #FFFFFF;
    --colorGris: #808080;
    --colorNegro: #000000;    
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
body {
    font-family: var(--fuente-principal);
    background-color: var(--colorFondo);
}

/* Utilitarios */
.contenedor {
    width: 95%;
    max-width: 170rem;
    margin: 0 auto;
}

/* Helper Para SweetAlert */
.swal2-popup {
    font-size: 1.6rem;
}